.package-card {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-dark-color);
  width: 200px;
  height: 150px;
}

.highlight {
  background-color: rgb(80, 18, 18);
}

.dependency-highlight {
  background-color: rgb(3, 51, 3);
}

.package-name-first-part {
  display: inline;
  word-break: break-word;
  color: var(--highlight-color);
}

.package-name {
  display: inline;
  color: var(--text-color);
  white-space: nowrap;
}

.package-card-header {
  border-bottom: 2px solid var(--border-color);
  font-size: 1.2em;
  font-weight: bold;
}

.package-card-content {
  margin: 0px;
  font-size: 0.95em;
  color: var(--text-secondary-color);
}

mat-icon {
  display: flex;
  justify-items: center;
}

.package-card-label {
  margin: 0px;
  display: flex;
  justify-items: center;
}

span {
  display: flex;
  font-size: large;
}

.package-card:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
